[user]
	name = Lukas Panni
	email = lukas.panni@outlook.de
	signingkey = ~/.ssh/git_sign.pub
[alias]
  s = status
  sw = switch
  swc = switch -c
	fpush = push --force-with-lease
	psh = push
	print = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	fix = commit --amend --no-edit
[init]
	defaultBranch = main
[core]
	excludesfile = ~/.gitignore_global
	editor = nvim
[gpg]
	format = ssh
[commit]
	gpgsign = true
[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowedSigners
[column]
  ui = auto
[branch]
  sort = -committerdate
[tag]
  sort = version:refname
[diff]
  algorithm = histogram
  colorMoved = plain
  mnemonicPrefix = true
  renames = true
[push]
  default = simple
  autoSetupRemote = true
  followTags = true
[fetch]
  prune = true
  pruneTags = true
  all = true
[help]
  autocorrect = 20
[rerere]
  enabled = true
  autoupdate = true
[rebase]
  autoSquash = true
  autoStash = true
  updateRefs = true
[pull]
  rebase = true
